:host {
  display: block;
  max-width: 70%;
  margin: 20px auto;
}

:host([size="small"]) {
  max-width: 40%;
}

:host([size="medium"]) {
  max-width: 60%;
}

:host([size="large"]) {
  max-width: 85%;
}
img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
  text-align: center;
  font-style: italic;
}